section{position:relative; left:330px; width:877px; padding:24px 60px 0; background:#fff;}
section .admissions-icon{display:block; margin:48px auto 31px;}
section h2{margin-top:-12px; font-size:38px; font-weight:normal; line-height:58px; text-align:center; letter-spacing:-1.9px; color:#668f88;}
section p{margin-bottom:48px; font-size:14px; letter-spacing:-0.14px; text-align:center; color:#668f88;}
