/*common*/
*{margin:0; padding:0; box-sizing:border-box; font-family:"Nanum Gothic";}
body{background:#F6F6F2;}
#wrap{display:block; position:relative; width:1206px; margin:0 auto;}
a{display:block; text-decoration:none; color:#fff;}
li{list-style:none;}
/*side-menu*/
aside{display:flex; flex-wrap:wrap; justify-content:center; align-content:flex-start; position:fixed; z-index:1; height:100vh;}
aside.main{width:404px;}
aside.sub{width:330px;}
aside>img{position:absolute; top:0; left:0; z-index:-1; width:100%;}
aside .logo{position:relative; top:65px; height:84px;}
aside .logo img{border:none;}
aside .side-menu-list{position:relative; top:180px; width:100%; height:auto;}
aside .side-menu-list>li{position:relative; width:234px; height:50px; margin:0 auto; border-bottom:1px solid #fff; background:rgba(0,0,0,0); line-height:50px; text-align:center;}
aside .side-menu-list>li:after{display:inline-block; content:""; position:absolute; left:109.5px; bottom:0; width:15px; height:2px; background:#fff;}
aside .side-menu-list>li:hover:after{left:102px; width:30px; transition:0.4s;}
aside .side-menu-list>li ul{opacity:0; position:absolute; top:18px; left:300px; width:234px; height:auto; padding:25px 30px; background:rgba(255,255,255,0.8); visibility:hidden;}
aside .side-menu-list>li ul.active{opacity:1; left:234px; transition:0.4s; visibility:visible;}
aside .side-menu-list>li ul:before{display:inline-block; content:""; position:absolute; top:9px; left:-16px; border-top:8px solid transparent; border-bottom:8px solid transparent; border-right:8px solid rgba(255,255,255,0.8); border-left:8px solid transparent;}
aside .side-menu-list>li ul li{height:auto; line-height:30px; text-align:left;}
aside .side-menu-list>li ul li a{display:inline; font-size:14px; color:#000;}
/*section*/
section{position:relative; padding:92px 60px 0; background:#fff;}
section.sub{width:877px; left:330px;}
/*section.main{width:;}*/
section .game-icon{display:block; width:161px; margin:0 auto 12px;}
section h3{font-size:30px; font-weight:normal; line-height:48px; text-align:center; letter-spacing:-0.3px; color:#668f88;}
section p{font-size:14px; letter-spacing:-0.14px; line-height:48px; text-align:center; color:#668f88;}
section h2{margin-bottom:42px; font-size:36px; font-weight:900; line-height:48px; text-align:center; letter-spacing:-1.8px; color:#ff006c;}
section .sub-main-img{margin-bottom:47px;}
section dl{width:100%; height:auto; margin-bottom:39px;}
section dl dt{height:100%; font-size:16px; font-weight:900; letter-spacing:-0.16px; line-height:18px; color:#272218;}
section dl dt div[class^="bar"]{height:1px; margin-bottom:5px;}
section dl dt .bar-pink{background:#ff006c;}
section dl dd{font-size:14px; line-height:24px; letter-spacing:-0.14px; color:#272218;}
section dl dd[class$="pink"]{color:#ff006c;}
section dl dd span{font-weight:bold;}
section dl.dl-long dt div[class^="bar"]{width:201px;}
section .sub-img-box{display:flex; justify-content:space-between; width:100%; height:428px; margin-bottom:55px;}
section .sub-img-box *{display:inline-block; float:left; width:246px;}
section .sub-img-box div{display:flex; flex-direction:column; justify-content:space-between;}
section dl.dl-short{display:table;}
section dl.dl-short dt{display:table-cell; width:140px; margin-right:24px;}
section dl.dl-short dt div[class^="bar"]{width:116px;}